@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
      
    background: #ffd2cf; 
    color: #6951da;
}

h1 {
    font-style: normal;
}

.card {
    border: #6951da solid 2px;  

    margin-top: 30px;
    margin-bottom: 10px;    

    padding-bottom: 20px;
    padding-left: 20px;

    border-radius: 20px;
}

.container {
    max-width: 800px;
    margin: auto; /* контент по центру */
    margin-top: 30px;
    margin-bottom: 30px;
}
 
.info {
    margin-bottom: 20px;
    display: flex;

}

.info-text{
    padding-left: 20px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: #6951da solid 4px; 
    

}

.info-text p {
    margin: 0;
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
}

.btn {
    font-family: inherit;
    border: #6951da solid 2px;
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px 15px;
    background: #6951da;
    color: #fff;
    font-weight: 300;
}

.btn:hover {
    cursor: pointer;
    background: rgba(105, 81, 218, .8);
}

.btn:active {
    background: #fc2917;
    border: #fc2917 solid 2px;

}

a {
    text-decoration: none;
    color: #ffd2cf;
}

.link a {
    color: #fc2917;
    text-decoration: none;
}

.link a:active {
    color:#6951da;
}

.link a:hover {
    font-style: italic;
}


.hobb ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hobb li {
    text-align: left;
    border-radius: 6px;
    margin-bottom: 10px;
}

.hobb:hover {
    background: #6951da;
    color: #ffd2cf;
    text-align: center;
    
}

.hobb li:hover {
    text-align: center;
    margin: 10px;
}

table {
    width: 100%;    
}


table td {    
    padding-bottom: 10px;

}

.work:hover {
    background: #6951da;
    color: #ffd2cf;
    text-align: center;
    
}

.work tbody:hover {
    
}

@media (max-width: 650px) {
    table td {
        padding-right: 40px;
    }
}

.contact {
    margin-top: 40px;
    
}

.form h2 {
    text-align: center;
  }

.form-group label {
    display: block;
    font-size: 14px;
    color: #6951da;
    
}

.form-row {
    margin-bottom: 10px;    
    display: flex;   
    
}

.form-row .form-group {
   /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50%-20px); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.form-group label {
    margin-top: 30px;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: #6951da solid 2px;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

